@model ReciboGG.Models.DB.Alumno

@{
    ViewBag.Title = "Eliminar";
}

<h2>Elminar</h2>

<h3>Estas seguro de eliminar?</h3>
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solvente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solvente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
