@model IEnumerable<ReciboGG.Models.DB.Tipo_Tutor>

@{
    ViewBag.Title = "Tutores";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edita", "Edit", new { id=item.Id_Tipo_Tutor }) |
           
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Tipo_Tutor })
        </td>
    </tr>
}

</table>
